body{
	background-color: black;
	color: white;
	margin: 10px;
}

strong{
	background-image: -moz-linear-gradient(top,#f9ae43,#e78b0a ) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9ae43), to(#e78b0a)) !important;
background-image: -webkit-linear-gradient(top, #f9ae43, #e78b0a) !important;
background-image: -o-linear-gradient(top, #f9ae43,#e78b0a) !important;
background-image: linear-gradient(to bottom, #f9ae43,#e78b0a) !important;
	color:white;
	font-size: 1.2em;
	padding: 3px;
	margin-bottom: 3px;
}

a{
	font-size: 1.1em;
	color:white;
	 outline: 0;
}

a:hover{
color:#e78b0a;
		
}

.brand{
	color: white !important;
	text-shadow: none !important;
}

.navbar-inner {
margin-top: 20px;
background-image: -moz-linear-gradient(top,#f9ae43,#e78b0a ) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9ae43), to(#e78b0a)) !important;
background-image: -webkit-linear-gradient(top, #f9ae43, #e78b0a) !important;
background-image: -o-linear-gradient(top, #f9ae43,#e78b0a) !important;
background-image: linear-gradient(to bottom, #f9ae43,#e78b0a) !important;
border: none !important;
}


.navbar-inner a{
	color: white !important;
	text-shadow: none !important;
}
.navbar {
  margin-top: 20px;
}

.shot .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.stats {
	background-image: -moz-linear-gradient(top,#f9ae43,#e78b0a ) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9ae43), to(#e78b0a)) !important;
background-image: -webkit-linear-gradient(top, #f9ae43, #e78b0a) !important;
background-image: -o-linear-gradient(top, #f9ae43,#e78b0a) !important;
background-image: linear-gradient(to bottom, #f9ae43,#e78b0a) !important;
  text-align: center;
  padding: 4px 0;
}

.stats .stat {
  padding: 5px;
}

.shot_image {
  width: 100%;
}


.shot_header {
  margin-bottom: 20px;
}

.shot_header h1 {
color: #e78b0a;
  font-size: 24px;
  line-height: 1;
  margin-top: 5px;
}

.shot_header img {
  height: 60px;
}


.comment img {
  height: 60px;
  width: 60px;
}
